<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">Random</li>
      <li class="breadcrumb-item active">Change Log History</li>
    </ol>
  </nav>
  <h1>Change Log History</h1>
</div>
<section class="section change-log-history">
  <div class="row">
    <div class="col-xl-10">
      <div class="card">
        <div class="card-body pt-3">
          <h5 class="card-title fs-6">Change Logs</h5>
          @if (change_history$ | async; as history;) {
            <div class="row">
              <div class="col">
                @if (pg.pages.length) {
                  <ul class="pagination">
                    <li class="page-item" [class.disabled]="pg.current === 0">
                      <a class="page-link" (click)="pg.prev()">
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
                    @for (page of pg.pages; track page) {
                      <li class="page-item" [class.active]="page === pg.current">
                        <a class="page-link" (click)="pg.goto(page)">
                          {{page + 1}}
                        </a>
                      </li>
                    }
                    <li class="page-item" [class.disabled]="pg.pages.length - 1 <= pg.current">
                      <a class="page-link" (click)="pg.next()">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                }
              </div>
              <div class="col">
                <button class="btn btn-primary" type="button" [cdkCopyToClipboard]="history | json">
                  Copy to clipboard
                </button>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <th scope="col">Id</th>
                <th scope="col">TimeStamp</th>
                <th scope="col">User</th>
                <th scope="col">Data</th>
              </thead>
              <tbody>
                @for (item of history; track item) {
                  <tr>
                    <th scope="row">{{item.Id}}</th>
                    <td [matTooltip]="item.TimeStamp.toString()">
                      {{item.TimeStamp | date:'short'}}
                    </td>
                    <td [matTooltip]="item.User.Email">
                      {{item.User.Name}}
                    </td>
                    <td>
                      @for (data of item.Data; track data) {
                        <div class="pb-1">
                          <button class="btn btn-primary sm_btn me-2" type="button"
                            (click)="detailDialog.showModal()" [matTooltip]="data.Id">
                            <i class="bi bi-binoculars"></i>
                          </button>
                          <i [class]="'bi ' + change_type_icon(data.ChangeType)"></i>
                          {{data.ChangeType}}: {{data.TableName}}.{{data.FieldName}}
                          <dialog #detailDialog class="change-detail-dialog">
                            <ng-template [ngTemplateOutlet]="detail_modal"
                              [ngTemplateOutletContext]="{data: data, dialog: detailDialog}" />
                          </dialog>
                        </div>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #detail_modal let-data="data" let-dialog="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title fs-6">
        Change Log Details-&gt; {{data.ChangeType}}: {{data.TableName}}.{{data.FieldName}}
      </h5>
      <button type="button" class="btn-close" (click)="dialog.close()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      @if (data.CurrValue) {
        <div class="col-md-10 mb-4">
          <h5 class="modal-title mb-0 fs-6 fw-bold">
            Current Value
          </h5>
          <ng-template [ngTemplateOutlet]="detail_table" [ngTemplateOutletContext]="{value: data.CurrValue}" />
        </div>
      }
      @if (data.PrevValue) {
        <div class="col-md-10 mb-4">
          <h5 class="modal-title mb-0 fs-6 fw-bold">
            Previous Value
          </h5>
          <ng-template [ngTemplateOutlet]="detail_table" [ngTemplateOutletContext]="{value: data.PrevValue}" />
        </div>
      }
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="dialog.close()">
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #detail_table let-value="value">
  <table class="detail-table">
    <thead>
      <th>Version</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Modified By</th>
      <th>Modified On</th>
    </thead>
    <tbody>
      <td>{{value.version}}</td>
      <td>{{value.CreatedBy}}</td>
      <td>{{value.CreatedOn | date: 'short'}}</td>
      <td>{{value.ModifiedBy}}</td>
      <td>{{value.ModifiedOn | date: 'short'}}</td>
    </tbody>
  </table>
</ng-template>
