<footer id="footer" class="footer">
  <div class="copyright">
    <a routerLink="/">
      <strong>
        <span>Randomizer UI</span>
      </strong>
    </a>
    &copy; {{year}}
  </div>
  <div class="credits">
    Visit
    <a href="https://github.com/pinndulum/ng-randomizer" target="_blank">
      Randomizer UI
    </a>
    github page and
    <a href="https://www.npmjs.com/package/@joxnathan/mock-randomizer" target="_blank">
      mock-randomizer
    </a>
    npmjs package page
  </div>
  <div class="credits">
    Also checkout
    <a href="https://pinndulum.github.io/ngCardGames/" target="_blank">
      JM Card Games
    </a>
  </div>
</footer>
<a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>