<div class="pagetitle">
    <h1>Flip A Coin</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Random</li>
            <li class="breadcrumb-item active">Flip A Coin</li>
        </ol>
    </nav>
</div>
<section class="section coin-flip">
    <div class="row">
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body pt-3">
                    <ng-container *ngIf="flip$ | async; let flip;">
                        <img src="assets/img/Quarter Heads.png" alt="heads" style="width: 100px; height: 100px;"
                            *ngIf="flip === 'heads'">
                        <img src="assets/img/Quarter Tails.png" alt="tails" style="width: 100px; height: 100px;"
                            *ngIf="flip === 'tails'">
                    </ng-container>
                    <div class="mt-1">
                        <button class="btn btn-primary" type="button" [disabled]="flipping" (click)="flip()">
                            <span *ngIf="flipping" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            {{ flipping ? 'Flipping...': 'Flip Again'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-10">
            <div class="card">
                <div class="card-body pt-3">
                    <h5 class="card-title" style="font-size: 16px;">Results Panel</h5>
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Flip</th>
                            <th scope="col">Time</th>
                            <th scope="col">Side</th>
                            <th scope="col">Spins</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of results; let ndx = index;">
                                <th scope="row">{{ndx + 1}}</th>
                                <td [matTooltip]="result.dt.toString()">
                                    {{result.dt | date:'mediumTime'}}
                                </td>
                                <td>{{result.side}}</td>
                                <td>{{result.spins}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="results.length">
                            <ng-container *ngVar="sum(); let results">
                                <tr>
                                    <td></td><td></td>
                                    <td>heads: {{results.heads}} / tails: {{results.tails}}</td>
                                    <td>{{results.spins}}</td>
                                </tr>
                            </ng-container>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>