<div class="pagetitle">
    <h1>Pseudo Identity</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Random</li>
            <li class="breadcrumb-item active">Pseudo Identity</li>
        </ol>
    </nav>
</div>
<section class="section pseudo-identity">
    <ng-container *ngIf="ident$ | async; let ident;">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body pt-4">
                        <h5 class="card-title p-0 m-0" style="font-size: 16px;">Name</h5>
                        <div class="row mb-0">
                            <label for="inputText" class="col-sm-3 col-form-label">
                                First:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" disabled class="form-control" [value]="ident.name.first">
                            </div>
                            <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                (click)="recycle(ident, 'name.first')">
                                <i class="bi bi-recycle"></i>
                            </button>
                        </div>
                        <div class="row mb-0">
                            <label for="inputText" class="col-sm-3 col-form-label">
                                Middle:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" disabled class="form-control" [value]="ident.name.middle">
                            </div>
                            <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                (click)="recycle(ident, 'name.middle')">
                                <i class="bi bi-recycle"></i>
                            </button>
                        </div>
                        <div class="row mb-0">
                            <label for="inputText" class="col-sm-3 col-form-label">
                                Last:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" disabled class="form-control" [value]="ident.name.last">
                            </div>
                            <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                (click)="recycle(ident, 'name.last')">
                                <i class="bi bi-recycle"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="button" [disabled]="loading" (click)="load()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            {{ loading ? 'Loading...': 'New Identity'}}
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button" [disabled]="loading" [cdkCopyToClipboard]="ident | json">
                            Copy to clipboard
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#ident-details">
                                    Details
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#ident-contact">
                                    Contact Info
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#ident-secret">
                                    Private/Secrect
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active ident-details" id="ident-details">
                                <div class="row mb-0">
                                    <label for="ident_id" class="col-sm-3 col-form-label">
                                        ID:
                                    </label>
                                    <div class="col-sm-10">
                                        <input id="ident_id" type="text" disabled class="form-control"
                                            [value]="ident.id">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'id')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="ident_id" class="col-sm-3 col-form-label">
                                        Created:
                                    </label>
                                    <div class="col-sm-10">
                                        <input id="ident_id" type="text" disabled class="form-control" [value]="ident.created">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading" (click)="recycle(ident, 'created')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Gender:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.gender">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'gender')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="ident_bio" class="col-sm-3 col-form-label">
                                        Bio:
                                    </label>
                                    <div class="form-floating mb-3">
                                        <textarea id="ident_bio" disabled class="form-control p-1"
                                            placeholder="Pseudo Bio" style="min-height: 100px;">{{ident.bio}}
                                        </textarea>
                                        <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                            (click)="recycle(ident, 'bio')">
                                            <i class="bi bi-recycle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Company:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.company">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'company')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3 ident-contact" id="ident-contact">
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Phone:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.phone">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'phone')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Email:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.email">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'email')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Address:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.address.street">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'address.street')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        City:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.address.city">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'address.city')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        State:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.address.state">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'address.state')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Zip:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.address.zip">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'address.zip')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Timezone:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.address.tz">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'address.tz')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3 ident-secret" id="ident-secret">
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Password:
                                    </label>
                                    <div class="col-sm-10">
                                        <input [type]="ident.show_pwd ? 'text' : 'password'" disabled class="form-control" [value]="ident.pwd">
                                    </div>
                                    <button type="button" class="btn btn-secondary sm_btn" (click)="ident.show_pwd = !ident.show_pwd">
                                        <i class="bi " [ngClass]="ident.show_pwd ? 'bi-eye-slash' : 'bi-eye'"></i>
                                    </button>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading" (click)="recycle(ident, 'pwd')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        SSN:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.ssn">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'ssn')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Card #:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.cc.card">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'cc.card')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        Exp Date:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control"
                                            value="{{ident.cc.month | number:'2.0'}}/{{ident.cc.year}}">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'cc.exp')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                                <div class="row mb-0">
                                    <label for="inputText" class="col-sm-3 col-form-label">
                                        CVV Code:
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" disabled class="form-control" [value]="ident.cc.cvv">
                                    </div>
                                    <button class="btn btn-primary sm_btn" type="button" [disabled]="loading"
                                        (click)="recycle(ident, 'cc.cvv')">
                                        <i class="bi bi-recycle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</section>