<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">Random</li>
      <li class="breadcrumb-item active">Buzzword Generator</li>
    </ol>
  </nav>
  <h1>Buzzword Generator</h1>
</div>
<section class="section buzz-words">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body pt-3">
          @if (buzz_words$ | async; as buzz_words;) {
            <h1>{{buzz_words}}</h1>
          }
          <div class="pt-2">
            <button class="btn btn-primary" type="button" (click)="load()">
              New Buzz Words
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Buzzword Banks</div>
          <table class="table table-striped">
            <thead>
              <th scope="col">#</th>
              <th scope="col">Column 1</th>
              <th scope="col">Column 2</th>
              <th scope="col">Column 3</th>
            </thead>
            <tbody>
              @for (word of word_lists[0]; track word; let ndx = $index) {
                <tr>
                  <th scope="row">{{ndx}}</th>
                  <td>{{word}}</td>
                  <td>{{word_lists[1][ndx]}}</td>
                  <td>{{word_lists[2][ndx]}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-7">
      <div class="card">
        <div class="card-body pt-3">
          <p>
            1. The Buzzword Generator consists of three columns of buzzwords numbered zero to nine.
          </p>
          <p>
            2. The procedure is simple. Think of any three digit number at random. Then select the corresponding
            buzzword from each column. Put them together and WHAM! POW! ZAP! You sound just like you know
            what you're talking about.
          </p>
          <p>
            3. Take for instance the number 257. Take word two from column one, word five from column two and word
            seven from column three. You now have "systemized logistical projection". You don't know what it
            means but don't worry, neither do "they".
          </p>
          <p>
            4. Would you prefer "balanced incremental flexibility". Possibly "parallel reciprocal options". Or
            maybe "integrated transitional contingency". How about "functional third-generation hardware"
            and "optimal management mobility". Now that ought to do the trick.
          </p>
          <p>
            5. The important thing is that the Buzzword Generator provides the user with the perfect aid for
            preparing anything on the subject of spaceflight. Automatically you have one thousand different
            combinations, all of which will give you that proper ring of decisive, progressive,
            knowledgeable authority.
          </p>
          <button type="button" class="btn btn-primary" (click)="showSourceImageDialog()">
            Original Buzzword Generator
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
