<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">Random</li>
      <li class="breadcrumb-item active">Shakespeare Insult Kit</li>
    </ol>
  </nav>
  <h1>Shakespeare Insult Kit</h1>
</div>
<section class="section shakespeare-insults">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body pt-3">
          @if (insults$ | async; as insults;) {
            <h1>Thou {{insults}}</h1>
            @if (canSpeak) {
              <button class="btn btn-primary sm_btn" type="button" (click)="sayit('Thou ' + insults, 6)"
                [matTooltip]="'Say it'">
                <i class="bi bi-volume-up"></i>
              </button>
            }
          }
          <div class="pt-2">
            <button class="btn btn-primary" type="button" (click)="load()">
              New Insult
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Insult Banks</div>
          <table class="table table-striped">
            <thead>
              <th scope="col">Column 1</th>
              <th scope="col">Column 2</th>
              <th scope="col">Column 3</th>
            </thead>
            <tbody>
              @for (word of word_lists[0]; track word; let ndx = $index) {
                <tr>
                  <td>{{word}}</td>
                  <td>{{word_lists[1][ndx]}}</td>
                  <td>{{word_lists[2][ndx]}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-7">
      <div class="card">
        <div class="card-body pt-3">
          <p>
            To create a Shakespearean insult...
          </p>
          <p>
            Combine one word from each of the three columns, prefaced with "Thou":
          </p>
          <button type="button" class="btn btn-primary" (click)="showSourceImageDialog()">
            Original Shakespeare Insult Kit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
