<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Random</li>
            <li class="breadcrumb-item active">Shakespeare Insult Kit</li>
        </ol>
    </nav>
    <h1>Shakespeare Insult Kit</h1>
</div>
<section class="section shakespeare-insults">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body pt-3">
                    <ng-container *ngIf="insults$ | async; let insults;">
                        <h1>Thou {{insults}}</h1>
                        <ng-container *ngIf="synth">
                            <button class="btn btn-primary sm_btn" type="button" (click)="sayit('Thou ' + insults, 6)"
                                [matTooltip]="'Say it'">
                                <i class="bi bi-volume-up"></i>
                            </button>
                        </ng-container>
                    </ng-container>
                    <div class="pt-2">
                        <button class="btn btn-primary" type="button" (click)="load()">
                            New Insult
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Insult Banks</div>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Column 1</th>
                            <th scope="col">Column 2</th>
                            <th scope="col">Column 3</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let word of word_lists[0]; let ndx = index;">
                                <td>{{word}}</td>
                                <td>{{word_lists[1][ndx]}}</td>
                                <td>{{word_lists[2][ndx]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body pt-3">
                    <p>
                        To create a Shakespearean insult...
                    </p>
                    <p>
                        Combine one word from each of the three columns, prefaced with "Thou":
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orig-img">
                        Original Shakespeare Insult Kit
                    </button>
                    <div class="modal fade" id="orig-img" tabindex="-1">
                        <div class="modal-dialog" style="max-width: 600px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="font-size: 16px;">Original Shakespeare Insult Kit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-4">
                                        <img src="assets/img/342889694_3530523573894436_7672415123078190943_n.jpg"
                                            alt="Original Shakespeare Insult Kit" style="width: 30em;">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>